/projects/6step_m35/output
.idea/
*.pyc
projects/ImageSearchEngine[MONTH3][3.2][PROJ]/ukbench
projects/ImageSearchEngine_32/ukbench/*
/data/ukbench
/data/ukbench.zip
arch/
data/
/projects/6step_m35/output/vocab.cpickle
/projects/6step_m35/output/features_quiz.hdf5
/projects/6step_m35/output/features.hdf5
/projects/6step_m35/output/vw_vis
