src/six_step_m35/output/
.idea/
*.pyc
/src/ImageSearchEngine[MONTH3][3.2][PROJ]/ukbench
/src/ImageSearchEngine_32/ukbench/*
/data/ukbench.zip
arch/
data/
/src/6step_m35/output/features_quiz.hdf5
.ipynb_checkpoints/CaseStudies-checkpoint.ipynb
.ipynb_checkpoints/month4-checkpoint.ipynb
CaseStudies.ipynb
/src/localize_license_plates_month3/license_plate/__pycache__/
*.jpg
*.png